<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" class="form-horizontal" method="post" th:action="@{/html/bidList/validate}"
			  th:object="${bidListAddDTO}"
			  style="width: 100%">
			<label>
				Account
				<input th:field="*{account}" type="text"/>
			</label><br/>
			<div style="color:red" th:if="${#fields.hasErrors('account')}">Account is mandatory<br/></div>

			<label>Type
				<input th:field="*{type}" type="text"/><br/>
			</label><br/>
			<div style="color:red" th:if="${#fields.hasErrors('type')}">Type is mandatory</div>

			<label>BidQuantity
				<input th:field="*{bidQuantity}" type="text"/><br/>
			</label><br/>
			<div style="color:red" th:if="${#fields.hasErrors('bidQuantity')}">BidQuantity must be greater or
				equal to 0
			</div>
			<a th:href="@{/html/bidList/list}"><input type="button" value="Cancel"/></a>
			<input type="submit" value="Add BidList"/></input>
		</form>
	</div>

</div>
</body>
</html>