<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" class="form-horizontal" method="post" style="width: 100%"
			  th:action="@{/html/bidList/update/{id}(id=${bidList.bidListId})}" th:object="${bidList}">
			<input th:field="${bidList.bidListId}" type="hidden"/>
			<label th:for="account">Account</label>
			<input th:field="${bidList.account}" type="text"/><br/>
			<div style="color:red" th:if="${#fields.hasErrors('${bidList.account}')}">Account is mandatory<br/></div>
			<label th:for="type">Type</label>
			<input th:field="${bidList.type}" type="text"/><br/>
			<div style="color:red" th:if="${#fields.hasErrors('${bidList.type}')}">Type is mandatory</div>
			<label th:for="bidQuantity">BidQuantity</label>
			<input th:field="${bidList.bidQuantity}" type="text"/><br/>
			<div style="color:red" th:if="${#fields.hasErrors('${bidList.bidQuantity}')}">BidQuantity must be greater or
				equal to 0
			</div>
			<a th:href="@{/html/bidList/list}"><input type="button" value="Cancel"/></a>
			<input type="submit" value="Update BidList"/></input>
		</form>
	</div>

</div>
</body>
</html>